 /*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Source+Code+Pro:500|Source+Serif+Pro:400,600,700);*/

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Fugaz+One|Source+Code+Pro:500,700|Gentium+Book+Basic:400,700,400italic,700italic|Special+Elite);

@font-face {
    font-family: 'Richardson Brand Lightning Bolt';
    src: url('../font/richardson-brand-lightning-bolt.ttf');
}

h1 {
    font-family: 'Richardson Brand Lightning Bolt';
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

tt, pre, code {
    font-family: 'Source Code Pro';
    /*font-family: 'Special Elite';*/
}

ul, ol, pre {
    text-align: left;
}

pre.code {
    font-size: 80%;
}

/** GENERAL **/
body {
    background: url('../img/background.png');
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    font-family: 'Bitter';
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    text-align: left;
    font-style: italic;
    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, .5);
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.author {
    text-align: right;
    font-size: 80%;
    margin-right: 10px;
    padding-right: 10px;
    margin-top: -1em;
}

span.badge {
    color: red;
}

ol.badge {
    list-style: none;
    padding: 0;
}

ol.badge li.one:before
{
    content: '❶';
    color: red;
    margin: 0 0.5em;    /* any design */
}

ol.badge li.two:before
{
    content: '❷';
    color: red;
    margin: 0 0.5em;    /* any design */
}

/** STEP STYLES **/
.step {
    width: 120vmin;
    height: 80vmin;
    font-size: 2.75vw;

    background-color: rgba(200, 200, 221, 0.85);

    display: block;
    padding: 40px 60px;
    border-radius: 10px;
    vertical-align: middle;

    box-shadow: 10px 10px 6px 0 rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .3);

    color: black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    letter-spacing: -1px;

    box-sizing: border-box;

    transition: opacity 1s;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.3;
}

.step.title {
    background-color: rgba(200, 200, 221, 0.5);
    vertical-align: middle;
}

.step.title .contents {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

img.four-third {
    width: 92vmin;
    height: 69vmin;
    display: block;
    margin: auto auto;
}

img.square {
    width: 70vmin;
    height: 70vmin;
    display: block;
    margin: auto auto;
}

img.front {
    z-index: 1;
    position: relative;
}

.perfs {
    text-align: center;
    background-color: rgba(221, 221, 221, 0.33);
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.perfs .perf-container {
    width: 23%;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 1%;
}

.perf-container img {
    width: 100%;
}

.do-scale img.dozer {
    transition:         all 1s ease-in-out;
    transform:         translate3d(0,50%,1px) scale(0.0077,0.0077);
}

.do-scale img.orika {
    transition:         all 1s ease-in-out;
    transform:         translate3d(0,42.37%,1px) scale(0.1526,0.1526);
}

.do-scale img.mapstruct {
    transition:         all 1s ease-in-out;
    transform:         translate3d(0,10.9%,1px) scale(0.7819,0.7819);
}

 @-webkit-keyframes grow {
     0% { transform: scale(1); }
     30% { transform: scale(1.1); }
     50% { transform: scale(1.15); }
     70% { transform: scale(1.1); }
     100% { transform: scale(1); }
 }

 .do-shake {
     -webkit-animation-name: grow;
     -webkit-animation-duration: 1s;
     -webkit-transform-origin:50% 50%;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: linear;
 }

/* hint on the first slide */
.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;

    background: #333;
    color: #fff;
    text-align: right;

    padding: 10px;
    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
    -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
    -o-transition: opacity 1s, -o-transform 0.5s 1s;
    transition: opacity 1s, transform 0.5s 1s;
}

.step-home + .hint {
    opacity: 1;

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition: opacity 1s 5s, -moz-transform 0.5s;
    -ms-transition: opacity 1s 5s, -ms-transform 0.5s;
    -o-transition: opacity 1s 5s, -o-transform 0.5s;
    transition: opacity 1s 5s, transform 0.5s;

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/** NOT SUPPORTED STYLES **/
.not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

/** PRINT STYLE **/
@media print {
    body {
        background: white;
    }

    .hint {
        display: none;
    }

    #simple {
        width: auto;
        margin: 0 5%;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
        background: transparent;
    }

    .step {
        page-break-after: always;
        opacity: 1;
        clear: both;
        display: block;
        float: none !important;
        position: relative;
        margin: 20px auto;

        -webkit-transition: rotate(0deg);
        -moz-transition: rotate(0deg);
        -ms-transition: rotate(0deg);
        -o-transition: rotate(0deg);
        transition: rotate(0deg);
    }

    .step:not(.active) {
        opacity: 1;
    }
}
